In [131]:
import pandas as pd

In [132]:
hazard = pd.read_excel('data/Prehled_2015-10-31_Loterie-Prehled-THZ-CR.xlsx', header=1)

In [133]:
novela = pd.read_csv('data/novela_tbl.csv', encoding='utf-8')

In [134]:
hazard = hazard[hazard.Obec == 'Praha']

In [135]:
hazard['addr'] = hazard.apply(lambda row: row['Ulice'] + ' ' + str(row['Č.p.']).split('.')[0], axis=1)

In [136]:
novela['addr'] = novela.apply(lambda row: row['ulice'].strip() + ' ' + str(row['cp_co']).split('/')[0], axis=1)

In [137]:
haz = pd.DataFrame(hazard.addr.value_counts())

In [138]:
haz.reset_index(inplace=True)

In [139]:
haz.rename(columns={'index': 'addr', 0: 'pocet_her'}, inplace=True)

In [140]:
povolene = haz.merge(novela, on='addr', how='left')

In [148]:
povolene.to_csv('data/praha_hry.csv', encoding='utf-8')

In [144]:
test = novela.merge(haz, on='addr', how='left')

In [150]:
test[test.pocet_her != test.pocet_her]#.to_csv('data/praha_chybejici_hry.csv', encoding='utf-8')

,fid,ulice,cp_co,ku,cas,addr,pocet_her
0,1,Masarykovo nádraží,NaN,"k.ú. Nové Město, parc.č. 2534/1",bez omezení,Masarykovo nádraží nan,NaN
1,2,Na Florenci,1412/29,NaN,bez omezení,Na Florenci 1412,NaN
3,4,Na poříčí,1052/42,NaN,bez omezení,Na poříčí 1052,NaN
49,50,Freyova,945/33,NaN,bez omezení,Freyova 945,NaN